# Auto detect text files and perform LF normalization
* text=auto
/CIS-2859/3DBasics/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/Bee/1900b0aE-inputdata.json filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/Bee/1900b0aE.dag filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/Bee/1900b0aE.dag.json filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/Bee/1900b0aE.dag.payloads filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Core.Editor.dll filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/PackageCache/com.unity.testtools.codecoverage@1.2.4/lib/ReportGenerator/ReportGeneratorMerged.dll filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/PackageCache/com.unity.textmeshpro@3.0.6/Package[[:space:]]Resources/TMP[[:space:]]Essential[[:space:]]Resources.unitypackage filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/PackageCache/com.unity.textmeshpro@3.0.6/Package[[:space:]]Resources/TMP[[:space:]]Examples[[:space:]]&[[:space:]]Extras.unitypackage filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/Customization/Demo/Animation/Staff_vs_Staff_OneFight_MaleA.fbx filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/Customization/Demo/Animation/Staff_vs_Staff_OneFight_MaleB.fbx filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/Customization/Demo/Videos/M30-1356.mp4 filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/Customization/Demo/Videos/Unity[[:space:]]Animated[[:space:]]Genart[[:space:]]2020.mp4 filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/GameplaySequenceDemo/Animation/Circles-Walk_R.fbx filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/GameplaySequenceDemo/Animation/Nav-Accelerations.fbx filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/GameplaySequenceDemo/Animation/Nav-Turn_on_Spot.fbx filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/GameplaySequenceDemo/Animation/Turns_StartStop-Wk.fbx filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/GameplaySequenceDemo/Animation/Victory-anim1.fbx filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/PackageCache/com.unity.visualscripting@1.9.1/Editor/VisualScripting.Core/Dependencies/Assemblies/Unity.VisualScripting.sqlite3.dll filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/PackageCache/com.unity.visualscripting@1.9.1/Editor/VisualScripting.Core/EditorAssetResources/Unity.VisualScripting.TextureAssets.dll filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/ScriptAssemblies/Unity.VisualScripting.Core.Editor.dll filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/SourceAssetDB filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics[[:space:]]lec2/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics[[:space:]]lec2/Library/Bee/1900b0aE-inputdata.json filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics[[:space:]]lec2/Library/Bee/1900b0aE.dag filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics[[:space:]]lec2/Library/Bee/1900b0aE.dag.json filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics[[:space:]]lec2/Library/Bee/1900b0aE.dag.payloads filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics[[:space:]]lec2/Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Core.Editor.dll filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics[[:space:]]lec2/Library/PackageCache/com.unity.testtools.codecoverage@1.2.4/lib/ReportGenerator/ReportGeneratorMerged.dll filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics[[:space:]]lec2/Library/PackageCache/com.unity.textmeshpro@3.0.6/Package[[:space:]]Resources/TMP[[:space:]]Essential[[:space:]]Resources.unitypackage filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics[[:space:]]lec2/Library/PackageCache/com.unity.textmeshpro@3.0.6/Package[[:space:]]Resources/TMP[[:space:]]Examples[[:space:]]&[[:space:]]Extras.unitypackage filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics[[:space:]]lec2/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/Customization/Demo/Animation/Staff_vs_Staff_OneFight_MaleA.fbx filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics[[:space:]]lec2/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/Customization/Demo/Animation/Staff_vs_Staff_OneFight_MaleB.fbx filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics[[:space:]]lec2/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/Customization/Demo/Videos/M30-1356.mp4 filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics[[:space:]]lec2/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/Customization/Demo/Videos/Unity[[:space:]]Animated[[:space:]]Genart[[:space:]]2020.mp4 filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics[[:space:]]lec2/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/GameplaySequenceDemo/Animation/Circles-Walk_R.fbx filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics[[:space:]]lec2/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/GameplaySequenceDemo/Animation/Nav-Accelerations.fbx filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics[[:space:]]lec2/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/GameplaySequenceDemo/Animation/Nav-Turn_on_Spot.fbx filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics[[:space:]]lec2/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/GameplaySequenceDemo/Animation/Turns_StartStop-Wk.fbx filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics[[:space:]]lec2/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/GameplaySequenceDemo/Animation/Victory-anim1.fbx filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics[[:space:]]lec2/Library/PackageCache/com.unity.visualscripting@1.9.1/Editor/VisualScripting.Core/Dependencies/Assemblies/Unity.VisualScripting.sqlite3.dll filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics[[:space:]]lec2/Library/PackageCache/com.unity.visualscripting@1.9.1/Editor/VisualScripting.Core/EditorAssetResources/Unity.VisualScripting.TextureAssets.dll filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics[[:space:]]lec2/Library/ScriptAssemblies/Unity.VisualScripting.Core.Editor.dll filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics[[:space:]]lec2/Library/SourceAssetDB filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics[[:space:]]lec2/Library/Bee/1900b0aEDbg-inputdata.json filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics[[:space:]]lec2/Library/Bee/1900b0aEDbg.dag filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics[[:space:]]lec2/Library/Bee/1900b0aEDbg.dag.json filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics[[:space:]]lec2/Library/Bee/1900b0aEDbg.dag.payloads filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics[[:space:]]lec2/Library/Bee/artifacts/1900b0aEDbg.dag/Unity.VisualScripting.Core.Editor.dll filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/1900b0aE-inputdata.json filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/1900b0aE.dag filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/1900b0aE.dag.json filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/1900b0aE.dag.payloads filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/1900b0aEDbg-inputdata.json filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/1900b0aEDbg.dag filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/1900b0aEDbg.dag.json filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/1900b0aEDbg.dag.payloads filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Core.Editor.dll filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/1900b0aEDbg.dag/Unity.VisualScripting.Core.Editor.dll filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/PackageCache/com.unity.testtools.codecoverage@1.2.4/lib/ReportGenerator/ReportGeneratorMerged.dll filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/PackageCache/com.unity.textmeshpro@3.0.6/Package[[:space:]]Resources/TMP[[:space:]]Essential[[:space:]]Resources.unitypackage filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/PackageCache/com.unity.textmeshpro@3.0.6/Package[[:space:]]Resources/TMP[[:space:]]Examples[[:space:]]&[[:space:]]Extras.unitypackage filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/Customization/Demo/Animation/Staff_vs_Staff_OneFight_MaleA.fbx filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/Customization/Demo/Animation/Staff_vs_Staff_OneFight_MaleB.fbx filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/Customization/Demo/Videos/M30-1356.mp4 filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/Customization/Demo/Videos/Unity[[:space:]]Animated[[:space:]]Genart[[:space:]]2020.mp4 filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/GameplaySequenceDemo/Animation/Circles-Walk_R.fbx filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/GameplaySequenceDemo/Animation/Nav-Accelerations.fbx filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/GameplaySequenceDemo/Animation/Nav-Turn_on_Spot.fbx filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/GameplaySequenceDemo/Animation/Turns_StartStop-Wk.fbx filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/GameplaySequenceDemo/Animation/Victory-anim1.fbx filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/PackageCache/com.unity.visualscripting@1.9.1/Editor/VisualScripting.Core/Dependencies/Assemblies/Unity.VisualScripting.sqlite3.dll filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/PackageCache/com.unity.visualscripting@1.9.1/Editor/VisualScripting.Core/EditorAssetResources/Unity.VisualScripting.TextureAssets.dll filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/ScriptAssemblies/Unity.VisualScripting.Core.Editor.dll filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/SourceAssetDB filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/2000b0aEDbg-inputdata.json filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/2000b0aEDbg.dag filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/2000b0aEDbg.dag.json filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/2000b0aEDbg.dag.payloads filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/Playerc416f807.dag filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/Playerc416f807.dag.json filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/2000b0aEDbg.dag/Unity.VisualScripting.Core.Editor.dll filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/GameAssembly/release_WebGL_wasm/9lxjy36l59ki.o filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/GameAssembly/release_WebGL_wasm/GameAssembly.a filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/GameAssembly/release_WebGL_wasm/xvqyxhi3znjd.o filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/ManagedStripped/mscorlib.dll filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/build/debug_WebGL_wasm/build.wasm filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/build/debug_WebGL_wasm/build.wasm.unmarked filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/build/Data/Metadata/global-metadata.dat filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/build/GameAssembly.a filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/GenericMethods.cpp filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/GenericMethods__1.cpp filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/Generics.cpp filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/Generics__1.cpp filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/Generics__2.cpp filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/Generics__3.cpp filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/Generics__4.cpp filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/Generics__5.cpp filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/Il2CppCCalculateFieldValues.cpp filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/Il2CppCCalculateTypeValues.cpp filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/Il2CppGenericMethodPointerTable.c filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/Il2CppInvokerTable.cpp filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/Il2CppTypeDefinitions.c filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/Symbols/MethodMap.tsv filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/UnityEngine.CoreModule.cpp filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/mscorlib.cpp filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/mscorlib_CodeGen.c filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/mscorlib__1.cpp filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/mscorlib__10.cpp filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/mscorlib__11.cpp filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/mscorlib__12.cpp filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/mscorlib__13.cpp filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/mscorlib__14.cpp filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/mscorlib__15.cpp filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/mscorlib__2.cpp filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/mscorlib__3.cpp filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/mscorlib__4.cpp filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/mscorlib__5.cpp filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/mscorlib__6.cpp filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/mscorlib__7.cpp filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/mscorlib__8.cpp filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/cpp/mscorlib__9.cpp filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/il2cppOutput/data/Metadata/global-metadata.dat filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/artifacts/WebGL/webgl.data filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/buildreport.json filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/Bee/buildreport.json_2.traceevents filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Bassam[[:space:]]Romolino[[:space:]]-[[:space:]]Project[[:space:]]1[[:space:]]FPS/Library/SplashScreenCache/dc/dc623cf0ed2b090f563ed55c1eaaf50e filter=lfs diff=lfs merge=lfs -text
/CIS-2859/Build/CIS-2859.wasm.gz filter=lfs diff=lfs merge=lfs -text
