# Auto detect text files and perform LF normalization
* text=auto
/CIS-2859/3DBasics/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/Bee/1900b0aE-inputdata.json filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/Bee/1900b0aE.dag filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/Bee/1900b0aE.dag.json filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/Bee/1900b0aE.dag.payloads filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Core.Editor.dll filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/PackageCache/com.unity.testtools.codecoverage@1.2.4/lib/ReportGenerator/ReportGeneratorMerged.dll filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/PackageCache/com.unity.textmeshpro@3.0.6/Package[[:space:]]Resources/TMP[[:space:]]Essential[[:space:]]Resources.unitypackage filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/PackageCache/com.unity.textmeshpro@3.0.6/Package[[:space:]]Resources/TMP[[:space:]]Examples[[:space:]]&[[:space:]]Extras.unitypackage filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/Customization/Demo/Animation/Staff_vs_Staff_OneFight_MaleA.fbx filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/Customization/Demo/Animation/Staff_vs_Staff_OneFight_MaleB.fbx filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/Customization/Demo/Videos/M30-1356.mp4 filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/Customization/Demo/Videos/Unity[[:space:]]Animated[[:space:]]Genart[[:space:]]2020.mp4 filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/GameplaySequenceDemo/Animation/Circles-Walk_R.fbx filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/GameplaySequenceDemo/Animation/Nav-Accelerations.fbx filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/GameplaySequenceDemo/Animation/Nav-Turn_on_Spot.fbx filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/GameplaySequenceDemo/Animation/Turns_StartStop-Wk.fbx filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/PackageCache/com.unity.timeline@1.7.6/Samples~/GameplaySequenceDemo/Animation/Victory-anim1.fbx filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/PackageCache/com.unity.visualscripting@1.9.1/Editor/VisualScripting.Core/Dependencies/Assemblies/Unity.VisualScripting.sqlite3.dll filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/PackageCache/com.unity.visualscripting@1.9.1/Editor/VisualScripting.Core/EditorAssetResources/Unity.VisualScripting.TextureAssets.dll filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/ScriptAssemblies/Unity.VisualScripting.Core.Editor.dll filter=lfs diff=lfs merge=lfs -text
/CIS-2859/3DBasics/Library/SourceAssetDB filter=lfs diff=lfs merge=lfs -text
